<div class="row">
  <div class="col-md-12">
    <h2>Shopping Detail</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Product Detail</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.items.each do |item| %>
          <tr>
            <td><%= link_to(item.title, product_path(item)) %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total: <%= render_cart_total_price(current_cart) %> NTD
      </span>
    </div>

    <hr>

    <h2>Order Info</h2>

    <div class="order-form">

      <%= simple_form_for @order do |f| %>

        <%= f.simple_fields_for :info do |c| %>
          <legend>Order</legend>
          <div class="form-group col-lg-6">
            <%= c.input :billing_name %>
          </div>
          <div class="form-group col-lg-6">
            <%= c.input :billing_address %>
          </div>

          <legend>Reciever</legend>
          <div class="form-group col-lg-6">
            <%= c.input :shipping_name %>
          </div>
          <div class="form-group col-lg-6">
            <%= c.input :shipping_address %>
          </div>
        <% end %>

        <div class="checkout">
          <%= f.submit "Make an order", class: 'btn btn-lg btn-danger pull-right', data: { disable_with: 'Submitting...' } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
